.header {
  margin: auto;
  max-width: 880px;
  min-height: 74px;
  border-bottom: solid 1px #545454;
  box-sizing: border-box;
}

@media screen and (max-width:425px) {
  .header {
    min-height: 56px;
}
}
